/*********************************************

Here is a description of any special CSS used.

**********************************************/

#poem {
  width: 50%;
  font-size: 2rem;
  margin: auto;
  text-align: center;
}

#lines {
  width: 30%;
  text-align: left;
  margin: auto;
}

#answer {
  width: 20%;
  height: 2rem;
  border: 2px dashed black;
  margin: auto;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.found {
  color: red;
}
