/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

**********************************************/
body{
  background: radial-gradient(#abcbab, #205420);
  height: 100vh;
  overflow: hidden;
  font-family: Georgia, serif;
  text-align: center;
  font-style: italic;
}

.container{
  position: relative;
  padding: 50px;
}

#haiku-title{
  position: relative;
  top: 0;
  font-size: 6rem;
  margin-top: 0;
  color: white;
  animation: animTitle 1s;
}

@keyframes animTitle {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#haiku {
  background-color: white;
  position: relative;
  font-size: 4rem;
  border: #4d6b4d 10pt double;
  margin-left: 22%;
  margin-right: 22%;
  padding: 50px;
  box-shadow:  25px 25px 10px #4d6b4d;
  animation: animHaiku 2s;
  transition: 1s;
}

@keyframes animHaiku {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}
