/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

**********************************************/
body{
  background: radial-gradient(#abcbab, #55a355);
  height: 100vh;
  overflow: hidden;
  font-family: Georgia, serif;
  text-align: center;
  font-style: italic;
}

#haiku {
  background-color: white;
  position: relative;
  top: 25%;
  font-size: 4rem;
  border: black 10pt double;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow:  25px 25px 10px #4d6b4d;
  animation: animHaiku 2s;
}

@keyframes animHaiku {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 25%;
    opacity: 1;
  }
}
