/*********************************************

Ensures that the canvas is centered and is
decorated to fit along with the games color scheme.

**********************************************/

body {
  background-image: url("../assets/images/htmlBG.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
}

canvas {
  border: white 10px solid;
}
