/*********************************************

Here is a description of any special CSS used.

**********************************************/

#secret-document {
  font-family: monospace;
  font-size: 1.5rem;
  width: 60vh;
  margin: auto;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed{
  color: red;
  text-decoration: underline;
}
