/*********************************************

Contains CSS properties that modified text mostly.
Also use CSS to change placements of sections so
that they all fit one screen.

**********************************************/

body {
  background-color: black;
  overflow: hidden;
}

#secret-document {
  font-family: monospace;
  background-color: white;
  font-size: 1.5rem;
  width: 60vh;
  height: 100vh;
  margin: auto;
  padding: 50px;
}

#instructions {
  font-family: monospace;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 30vh;
  color: white;
  font-size: 2rem;
}

#text {
  position: absolute;
  top: 40%;
  width: 100%;
}

.end-screen {
  font-family: monospace;
  position: absolute;
  top: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  text-decoration: underline;
}

.signature {
  margin-top:10vh;
}

/* TEXT STYLES ***********************************/

h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin: 0;
}

h2 {
  text-align: center;
}

h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
}

p.right-aligned {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
